<html>
<head>
    <link href="/static/back.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>协会介绍-反内卷协会</title>
    <link rel="icon" href="/static/page2.ico">
</head>

<body>
    <!--设置导航-->
    <header id="header"></header>

    <h1><center>协会介绍</center></h1>
    <h3>我们协会的宗旨是：<font color="bule">内卷千万条，摆烂第一条。内卷不规范，同学两行泪</font></h3>
    <font color="pink">谁再内卷我看见一个揍一个——wxy</font>
    <h2>公告</h2>
    20220422:反凡尔赛分会成立，由杰哥担任分会长

    <script>
        $("#header").load("/static/html/header.html");
        $("#footer").load("/static/html/footer.html");
    </script>
</body>
</html>
