<html>
<head>

    <title>反内卷协会欢迎您的加入</title>
    <link rel="icon" href="/static/page2.ico">

    <link href="/static/back.css" rel="stylesheet" type="text/css" />


    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <style>

        .lbj {
            border-radius: 5px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
            background-image: url("/static/l2bj.jpg");
            background-size: 100% 100%;
        }

        .l {
            border-radius: 5px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
        }
    </style>
</head>



<body onload="lft()">
    <!--设置导航-->
    <header id="header"></header>

    <h1><center>W-D反内卷协会</center></h1>
    <h2><center><font color="bule">内卷千万条，摆烂第一条。内卷不规范，同学两行泪</font></center></h2>

    <div class="row" style="margin-top:10px">
        <!--左侧-->
        <div class="col-3">
            <div class="lbj">

                <font color="orange">
                    <h3><center>《呐喊》</center></h3>
                </font>
                <font color="blue">内卷者，杀无赫，必将万剐凌迟，车裂五尸，打入阎王殿中永世不得轮回！！</font>
                <font color="yellow">
                    <p align="right">——陈煜</p>
                </font>


                <font color="blue">
                    内卷者，古今人人得而诛之：<br />
                    纵观历史，古有吕蒙、孙权卷而失东吴；<br />
                    今看教授,于兵兵课而卷，引罚抄上身。<br />
                    <br />
                    卷者无益，然不卷者亦有益。<br />
                    多少风云人物，尚未习得几年，何谈卷!?
                </font>
                <font color="yellow">
                    <p align="right">——杰哥</p>
                </font>

            </div>
        </div>

        <!--中间-->
        <div class="col-7">
            <h2><center>恕我直言!<br />姥姥要真愿意多一分奖励200!<br />我直接把协会改为内卷协会!<br />我会长说的!!!</center></h2>
        </div>

        <!--右侧-->
        <div class="col-2">
            <div class="l">
                <h4><center>其他地方的内卷</center></h4>
                <a href="https://zh.moegirl.org.cn/%E5%86%85%E5%8D%B7" target="_blank"><center>萌娘百科</center></a>
                <a href="https://baike.baidu.com/item/%E5%86%85%E5%8D%B7/54275161" target="_blank"><center>百度百科</center></a>
            </div>
        </div>
    </div>

    <script>
        $("#header").load("/static/html/header.html");
        $("#footer").load("/static/html/footer.html");
    </script>

</body>
</html>