<html>
<head>

<title>反内卷协会-反凡尔赛分会欢迎您的加入</title>
<link rel="icon" href="/static/page2.ico">

<link href="/static/back1.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<style>

.lbj
{

border-radius:5px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
background-image:url("../static/l2bj.jpg");
background-size:100% 100%;
}
.l
{

border-radius:5px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}
</style>
</head>



<body onload="lft()" >
<!--设置导航-->
<ul class="nav bg-warning">
<a class="nav-link text-dark" href="./mainpage.html">主页</a>

<a class="nav-link text-dark" href="./introduction.html">介绍</a>

<a class="nav-link text-dark" href="./member.html">成员</a>

<div class="dropdown">

<a class="btn btn-warning dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

前往其他主页
</a>
<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
<a href="/templates/main/mainpage.html">总会(反内卷)</a>
<br/>
<a href="/templates/branch1/mainpage.html">第一分会(反凡尔赛)</a>
</div>

</div>
</ul>

<h1><center>W-D反内卷协会---反凡尔赛分会</center></h1>
<h2><center><font color="bule">吾日三省吾身：可曾达凡尔赛宫乎？可曾撰《凡尔赛宫》乎？可曾造凡尔赛宫乎？<br/>既未，可不凡尔赛乎~
<!--网页制作者的碎碎念:恕我直言,以上三者杰哥都做过--></font></center></h2>
<h1>以下网页还没做完</h1>
<div class="row" style="margin-top:0px">
<!--左侧语句-->
<div class="col-3">
<div class="lbj">
<font color="orange">
<h3><center></center></h3>
</font>
<font color="blue"></font>
<font color="yellow">
<p align="right"></p>
</font>
</div>

</div>
<div class="col-7">
(empty)
</div>
<div class="col-2">
<div class="l">
<h4><center>其他地方的__<br/>内卷</center></h4>
<a href="https://zh.moegirl.org.cn/%E5%86%85%E5%8D%B7" target="_blank"><center>萌娘百科</center></a>
<a href="https://baike.baidu.com/item/%E5%86%85%E5%8D%B7/54275161" target="_blank"><center>百度百科</center></a>
<h4><center>凡尔赛</center></h4>
<a href="https://zh.moegirl.org.cn/%E5%87%A1%E5%B0%94%E8%B5%9B%E6%96%87%E5%AD%A6" target="_blank"><center>萌娘百科</center></a>
<a href="https://baike.baidu.com/item/%E5%87%A1%E5%B0%94%E8%B5%9B%E6%96%87%E5%AD%A6/54290433" target="_blank"><center>百度百科</center></a>

</div>
</div>
</body>
</html>
