<html>
<head>
<!--自定义的css-->
<link href="/static/back1.css" rel="stylesheet" type="text/css" />

<!--bootstrap引用-->
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<title>人物名录-反内卷协会</title>
<link rel="icon" href="/static/page2.ico">
</head>
<body>
<!--设置导航-->
<ul class="nav bg-warning">
<a class="nav-link text-dark" href="./mainpage.html">主页</a>

<a class="nav-link text-dark" href="./introduction.html">介绍</a>

<a class="nav-link text-dark" href="./member.html">成员</a>
<div class="dropdown">

<a class="btn btn-warning dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

前往其他主页
</a>
<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
<a href="/templates/main/mainpage/">总会(反内卷)</a>
<br/>
<a href="/templates/branch1/mainpage/">第一分会(反凡尔赛)</a>
</div>

</div>
</ul>

<h1><center>人物名录</center></h1>
<h1>这个页面还没做好!!!</h1>
<h1>这个页面还没做好!!!</h1>
<h1>这个页面还没做好!!!</h1>
<h3>总会会长</h3>
你邓总<br/>
你王总<br/>
<h3>分会会长</h3>
杰哥<br/>
</body>
</html>
